<template>
  <div v-if="loaded">
    <section class="text-3xl flex justify-center content-center flex-col mx-auto text-center">
      <h5 v-if="!expired">Buy Now</h5>
      <h5 v-else>Timer Is Done</h5>
    </section>
    <section class="text-6xl flex justify-center content-center text-center">
      <div class="days mr-2 relative">
        {{displayDays}}
        <div class="label text-sm absolute bottom-0">days</div>
      </div>
      <span class="leading-snug">:</span>

      <div class="hours mx-2 relative">
        {{displayHours}}
        <div class="label text-sm absolute bottom-0">hours</div>
      </div>
      <span class="leading-snug">:</span>

      <div class="minutes mx-2 relative">
        {{displayMinutes}}
        <div class="label text-sm absolute bottom-0">minutes</div>
      </div>
      <span class="leading-snug">:</span>

      <div class="seconds ml-2 relative">
        {{displaySeconds}}
        <div class="label text-sm absolute bottom-0">seconds</div>
      </div>
    </section>

  </div>
</template>

<script>
export default {
  props : ['year','month', 'date', 'hour','minute', 'second', 'millisecond'],
  data : () => ({
    displayDays : 0,
    displayHours : 0,
    displayMinutes :0,
    displaySeconds : 0,
    loaded : false,
    expired : false
  }),
  computed : {
    _seconds : () => 1000,
    _minutes() {
      return this._seconds * 60
    },
    _hours() {
      return this._minutes() * 60
    },
    _days() {
      return this._hours * 24
    },
    end() {
      return new Date(
        this.year,
        this.month,
        this.date,
        this.hour,
        this.minute,
        this.second,
        this.millisecond
      );
    },
  },
  mounted() {
    this.showResult()
  },
  methods : {
    showResult(){
      const timer = setInterval(()=>{
        const now = new Date();

        const distance = this.end.getTime() - now.getTime()

        if (distance < 0){
          clearInterval(timer);
          this.expired=true;
          return;
        }

        const days = Math.floor(distance / this._days);
        const hours = Math.floor((distance % this._days) / this._hours);
        const minutes = Math.floor((distance % this._hours) / this._minutes);
        const seconds = Math.floor((distance % this._minutes) / this._seconds);

        this.displayMinutes = minutes < 10 ? "0" + minutes : minutes ;
        this.displaySeconds = seconds < 10 ? "0" + seconds : seconds ;
        this.displayHours = hours < 10 ? "0" + hours : hours ;
        this.displayDays = days < 10 ? "0" + days : days ;
        this.loaded = true;
        this.expired= true;
      }, 1000) ;
    }
  }
};
</script>

<style scoped>
.relative{
  display: inline-block;
}

</style>
