<template>
  <div class="text-center mt-5">
     <h3>Coming Soon</h3>
     <Counter
       :year="2020"
       :month="10"
       :date="17"
       :hour="12"
       :minute="59"
       :millisecond="10"
       :second="10"
     />


  </div>
</template>

<script>
  import Counter from "./Counter";

  export default {
    components: {
      Counter

    }

};
</script>

<style scoped>


</style>
