<template>
  <div>
    <Home />
  </div>
</template>

<script>
import Home from "./Components/Home";
import Counter from "./Components/Counter";

export default {
  components:{
    Home : Home,
    Counter: Counter

  }

}
</script>

<style>
body{
  background-color: yellow;
}
</style>
